# Copyright (c) 2021 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menuconfig MODULE_PSA_CRYPTO
    bool "PSA Crypto"
    depends on TEST_KCONFIG

if MODULE_PSA_CRYPTO

menuconfig PSA_HASHES
    bool "Hashes Implementations"

if PSA_HASHES
rsource "Kconfig.hashes"
endif # PSA_HASHES

menuconfig PSA_CIPHERS
    bool "Ciphers Implementations"

if PSA_CIPHERS
rsource "Kconfig.ciphers"
endif # PSA_CIPHERS

endif # MODULE_PSA_CRYPTO