# Copyright (c) 2021 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menuconfig CURVE_ECC_P256
    bool "NIST P256"
    select PSA_CURVE_ECC_KEY_SIZE_256

if CURVE_ECC_P256

choice CURVE_ECC_P256_IMPLEMENTATION
    bool "NISST P256 Implementation"

config CRYPTOAUTHLIB_CURVE_ECC_P256
    bool "Microchip Cryptoauthlib"
    select PACKAGE_CRYPTOAUTHLIB
    select MODULE_PSA_SE_DRIVER
    select PSA_CRYPTO_SECURE_ELEMENT

endchoice

endif # CURVE_ECC_P256

config PSA_CURVE_ECC_KEY_SIZE_256
    bool
    help
        Indicates that an 256 bit Elliptic Curve is used