# Copyright (c) 2021 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menuconfig HASHES_MD5
    bool "MD5"

if HASHES_MD5

choice HASHES_MD5_IMPLEMENTATION
    bool "MD5 implementation"
    default BUILTIN_HASH_MD5

config BUILTIN_HASH_MD5
    bool "Software implemented"
    select MODULE_HASHES_MD5

endchoice

endif # HASHES_MD5

menuconfig HASHES_SHA1
    bool "SHA-1"

if HASHES_SHA1

choice HASHES_SHA1_IMPLEMENTATION
    bool "SHA-1 implementation"
    default PERIPH_HASH_SHA1

config PERIPH_HASH_SHA1
    bool "Hardware accelerated"
    depends on HAS_HW_HASH_SHA1
    select PERIPH_HASHES

config BUILTIN_HASH_SHA1
    bool "Software implemented"
    select MODULE_HASHES_SHA1
    select MODULE_PSA_SOFTWARE_HASHES

endchoice

endif # HASHES_SHA1

menuconfig HASHES_SHA224
    bool "SHA-224"

if HASHES_SHA224

choice HASHES_224_IMPLEMENTATION
    bool "SHA-224 implementation"
    default PERIPH_HASH_SHA224

config PERIPH_HASH_SHA224
    bool "Hardware accelerated"
    depends on HAS_HW_HASH_SHA224
    select PERIPH_HASHES

config BUILTIN_HASH_SHA224
    bool "Software implemented"
    select MODULE_HASHES_SHA224

endchoice

endif # HASHES_SHA224

menuconfig HASHES_SHA256
    bool "SHA-256"

if HASHES_SHA256

choice HASHES_256_IMPLEMENTATION
    bool "SHA-256 implementation"
    default PERIPH_HASH_SHA256

config PERIPH_HASH_SHA256
    bool "Hardware accelerated"
    depends on HAS_HW_HASH_SHA256
    select PERIPH_HASHES

config CRYPTOAUTHLIB_HASH_SHA256
    bool "Microchip Cryptoauth Package"
    select PACKAGE_CRYPTOAUTHLIB
    select MODULE_CRYPTOAUTHLIB_HASHES
    select SE_HASHES

config BUILTIN_HASH_SHA256
    bool "Software implemented"
    select MODULE_HASHES_SHA256

endchoice
endif # HASHES_SHA256

config SE_HASHES
    bool
    help
        Indicates use of a secure element.
