# Copyright (c) 2021 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menuconfig MODULE_PSA_CRYPTO
    bool "PSA Crypto"
    depends on TEST_KCONFIG

if MODULE_PSA_CRYPTO

menuconfig PSA_HASHES
    bool "Hashes Implementations"
rsource "Kconfig.hashes"

menuconfig PSA_CIPHERS_AES
    bool "Ciphers Implementations"
rsource "Kconfig.ciphers"

menuconfig PSA_CONFIG
    bool "PSA Configuration"
rsource "Kconfig.config"

endif # MODULE_PSA_CRYPTO