# Copyright (c) 2021 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config PSA_SE_ATECCX08A
    bool "Microchip Cryptoauthlib Driver"
    select PACKAGE_CRYPTOAUTHLIB
    select MODULE_PSA_SE_DRIVER
    select PSA_ECC
    select PSA_KEY_SIZE_256
    select PSA_CRYPTO_SE

config PSA_MULTIPLE_SECURE_ELEMENTS
    bool "Use multiple secure elements"

config PSA_CRYPTO_SE
    bool
    help
        Indicates a Secure Element is being used