# Copyright (c) 2021 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menuconfig PSA_SE_CONFIGURATION
    bool "Secure Element Configuration"
    depends on PSA_CRYPTO_SECURE_ELEMENT

if PSA_SE_CONFIGURATION

config PSA_MULTIPLE_SECURE_ELEMENTS
    bool "Use multiple secure elements"

endif # SE_CONFIGURATION

config PSA_CRYPTO_SECURE_ELEMENT
    bool
    help
        Indicates a Secure Element is being used