# Copyright (c) 2021 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menuconfig MODULE_PSA_CRYPTO
    bool "PSA Crypto"
    depends on TEST_KCONFIG
    select MODULE_RANDOM
    select PACKAGE_TLSF

if MODULE_PSA_CRYPTO

menuconfig PSA_HASHES
    bool "PSA Hashes"

if PSA_HASHES
rsource "Kconfig.hashes"
endif # PSA_HASHES

menuconfig PSA_CIPHERS
    bool "PSA Cipher"

if PSA_CIPHERS
rsource "Kconfig.ciphers"
endif # PSA_CIPHERS

menuconfig PSA_ASYMMETRIC
    bool "PSA Asymmetric Crypto"

if PSA_ASYMMETRIC
rsource "Kconfig.asymmetric"
endif # PSA_ASYMMETRIC

menuconfig PSA_SECURE_ELEMENT
    bool "PSA Secure Element Configuration"

if PSA_SECURE_ELEMENT
rsource "Kconfig.se"
endif # PSA_SECURE_ELEMENT

rsource "Kconfig.keysizes"

config PSA_ECC
    bool
    help
        Indicates that an elliptic curve operation is being used

endif # MODULE_PSA_CRYPTO