# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config CPU_FAM_NRF52
    bool
    select CPU_COMMON_NRF5X
# The ADC does not depend on any board configuration, so always available
    select HAS_PERIPH_ADC
# So far, NimBLE netif does not support nrf51 platforms, so we use a dedicated
# feature to mark this
    select HAS_BLE_NIMBLE_NETIF
# All nrf52s support the 2Mbit PHY mode
    select HAS_BLE_PHY_2MBIT
    select HAS_CORTEXM_MPU
    select HAS_CPU_NRF52
    select HAS_PERIPH_I2C_RECONFIGURE
    select HAS_PERIPH_HASH_SHA1
    select HAS_PERIPH_HASH_SHA224
    select HAS_PERIPH_HASH_SHA256
    select HAS_PERIPH_CIPHER_AES_128
    select HAS_PERIPH_CIPHER_MODE_CBC

## CPU Models
config CPU_MODEL_NRF52805XXAA
    bool
    select CPU_CORE_CORTEX_M4
    select CPU_FAM_NRF52
    select HAS_PERIPH_UART_NONBLOCKING

config CPU_MODEL_NRF52810XXAA
    bool
    select CPU_CORE_CORTEX_M4
    select CPU_FAM_NRF52
    select HAS_PERIPH_UART_NONBLOCKING

config CPU_MODEL_NRF52811XXAA
    bool
    select CPU_CORE_CORTEX_M4
    select CPU_FAM_NRF52
    select HAS_BLE_PHY_CODED
    select HAS_RADIO_NRF802154
    select HAS_PERIPH_UART_NONBLOCKING

config CPU_MODEL_NRF52820XXAA
    bool
    select CPU_CORE_CORTEX_M4
    select CPU_FAM_NRF52
    select HAS_BLE_PHY_CODED
    select HAS_RADIO_NRF802154
    select HAS_PERIPH_UART_NONBLOCKING

config CPU_MODEL_NRF52832XXAA
    bool
    select CPU_FAM_NRF52
    select CPU_CORE_CORTEX_M4F

config CPU_MODEL_NRF52833XXAA
    bool
    select CPU_CORE_CORTEX_M4F
    select CPU_FAM_NRF52
    select HAS_BLE_PHY_CODED
    select HAS_RADIO_NRF802154
    select HAS_PERIPH_UART_NONBLOCKING

config CPU_MODEL_NRF52840XXAA
    bool
    select CPU_CORE_CORTEX_M4F
    select CPU_FAM_NRF52
    select HAS_BLE_PHY_CODED
    select HAS_RADIO_NRF802154
    select HAS_PERIPH_UART_NONBLOCKING

## CPU common symbols
config CPU_FAM
    default "nrf52" if CPU_FAM_NRF52

config CPU_MODEL
    default "nrf52805xxaa" if CPU_MODEL_NRF52805XXAA
    default "nrf52810xxaa" if CPU_MODEL_NRF52810XXAA
    default "nrf52811xxaa" if CPU_MODEL_NRF52811XXAA
    default "nrf52820xxaa" if CPU_MODEL_NRF52820XXAA
    default "nrf52832xxaa" if CPU_MODEL_NRF52832XXAA
    default "nrf52833xxaa" if CPU_MODEL_NRF52833XXAA
    default "nrf52840xxaa" if CPU_MODEL_NRF52840XXAA

config CPU
    default "nrf52" if CPU_FAM_NRF52

config PERIPH_HASHES
    bool
    depends on HAS_CPU_NRF52
    select MODULE_PERIPH_HASHES
    select MODULE_PERIPH_HASHES_COMMON
    select MODULE_PERIPH_PSA_ERROR

config MODULE_PERIPH_HASHES_SHA1
    bool

config MODULE_PERIPH_HASHES_SHA224
    bool

config MODULE_PERIPH_HASHES_SHA256
    bool

config PERIPH_CIPHER_MODE_CBC
    bool
    select MODULE_PERIPH_AES_CBC
    select MODULE_PERIPH_AES_COMMON
    select MODULE_PERIPH_PSA_ERROR


## Definition of specific features
config HAS_CPU_NRF52
    bool
    help
        Indicates that the current cpu is 'nrf52'.

config MODULE_PERIPH_CRYPTOCELL_SETUP
    bool
    help
        Build setup functions for CryptoCell Library

config MODULE_PERIPH_CRYPTOCELL_UTIL
    bool
    help
        Build utility functions for CryptoCell Library

config MODULE_PERIPH_HASHES
    bool
    help
        Use CryptoCell Hardware Driver for Hashes

config CC_HASH_SHA1
    bool
    help
        Indicates that CryptoCell driver is active for SHA-1.

config CC_HASH_SHA224
    bool
    help
        Indicates that CryptoCell driver is active for SHA-1.

config CC_HASH_SHA256
    bool
    help
        Indicates that CryptoCell driver is active for SHA-1.

config MOD_PERIPH_HASH_SHA256
    depends on HAS_CPU_NRF52

config MODULE_PERIPH_HASHES_COMMON
    bool
    help
        Build common hash functions

config MODULE_PERIPH_PSA_ERROR
    bool
    help
        Build PSA Error functions

config PERIPH_CIPHER_AES
    bool

config MODULE_PERIPH_AES_CBC
    bool
    help
        Use CryptoCell Hardware Driver for AES CBC

config MODULE_PERIPH_AES_COMMON
    bool
    help
        Build common AES functions

rsource "periph/Kconfig"
rsource "vectors/Kconfig"
rsource "cryptocell_lib/Kconfig"

source "$(RIOTCPU)/nrf5x_common/Kconfig"
