# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config MODULE_CRYPTOAUTHLIB_CONTRIB
    bool
    select MODULE_AUTO_INIT_SECURITY if MODULE_AUTO_INIT
    help
        HAL implementation for the library Microchip CryptoAuth devices.