# Copyright (c) 2021 Inria
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

if TEST_KCONFIG

config MODULE_PERIPH_UART_NONBLOCKING
    depends on HAS_PERIPH_UART_NONBLOCKING
    depends on MODULE_PERIPH_UART
    select MODULE_TSRB

config MODULE_PERIPH_SPI
    depends on HAS_PERIPH_SPI
    select MODULE_PERIPH_GPIO_IRQ if CPU_MODEL_NRF52832XXAA && HAS_PERIPH_GPIO_IRQ

config MODULE_SAUL_NRF_VDDH
    bool "Internal Voltage Sensor"
    depends on HAS_PERIPH_ADC
    select MODULE_PERIPH_ADC

# CryptoCell Related Symbols
config MODULE_PERIPH_CRYPTOCELL_SETUP
    bool
    help
        Build setup functions for CryptoCell Library

config MODULE_PERIPH_CRYPTOCELL_UTIL
    bool
    help
        Build utility functions for CryptoCell Library

config MODULE_PERIPH_PSA_ERROR
    bool
    help
        Build PSA Error functions

# Hash Related Symbols
config PERIPH_HASHES
    bool
    select MODULE_LIB_CRYPTOCELL
    select MODULE_PERIPH_HASHES
    select MODULE_PERIPH_HASHES_COMMON
    select MODULE_PERIPH_PSA_ERROR

config MODULE_PERIPH_HASHES
    bool
    help
        Use CryptoCell Hardware Driver for Hashes

config MODULE_PERIPH_HASHES_COMMON
    bool

config MODULE_PERIPH_HASHES_SHA1
    bool

config MODULE_PERIPH_HASHES_SHA224
    bool

config MODULE_PERIPH_HASHES_SHA256
    bool

config MODULE_PERIPH_HASHES_SHA512
    bool

#Cipher Related Symbols
config PERIPH_CIPHER_MODE_CBC
    bool
    select MODULE_LIB_CRYPTOCELL
    select MODULE_PERIPH_AES_CBC
    select MODULE_PERIPH_AES_COMMON
    select MODULE_PERIPH_PSA_ERROR

config PERIPH_CIPHER_AES
    bool
    select MODULE_LIB_CRYPTOCELL

config MODULE_PERIPH_AES_CBC
    bool
    help
        Use CryptoCell Hardware Driver for AES CBC

config MODULE_PERIPH_AES_COMMON
    bool

# Asymmetric Crypto Related Symbols
config PERIPH_ECC_P192
    bool
    select MODULE_LIB_CRYPTOCELL
    select MODULE_PERIPH_ECC_P192
    select MODULE_PERIPH_PSA_ERROR
    select MODULE_PERIPH_ECC_COMMON

config PERIPH_ECC_P256
    bool
    select MODULE_LIB_CRYPTOCELL
    select MODULE_PERIPH_ECC_P256
    select MODULE_PERIPH_PSA_ERROR
    select MODULE_PERIPH_ECC_COMMON

config MODULE_PERIPH_ECC_P192
    bool
    help
        Build functions for ECC P192

config MODULE_PERIPH_ECC_P256
    bool
    help
        Build functions for ECC P256

config MODULE_PERIPH_ECC_COMMON
    bool

endif # TEST_KCONFIG

config HAVE_SAUL_NRF_VDDH
    bool
    select MODULE_SAUL_NRF_VDDH if MODULE_SAUL_DEFAULT
    help
        Indicates that internal voltage sensor is present.
