# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config MODULE_LIB_CRYPTOCELL
    bool "CryptoCell Library"
    depends on CPU_FAM_NRF52
    depends on TEST_KCONFIG
    select MODULE_PERIPH_CRYPTOCELL_SETUP
    select MODULE_PERIPH_CRYPTOCELL_UTIL
